
    <span class="titleBodyApp">
        <h1>Aplicación de Presupuestos</h1>
    </span>
    <div class="card-container" *ngIf="mountSave">
        <mat-form-field class="form-field"  >
        <mat-label>Defina el presupuesto Inicial</mat-label>
            <input #mount matInput type="text" [(ngModel)]="mountBudget" placeholder="Monto Requerido">
        
            <button class=""  matSuffix mat-icon-button aria-label="Clear" (click)="saveBudget(mountBudget)">
             Guardar
            </button>
    
   
</mat-form-field>
  
